.DS_Store
build
coverage
extension/coverage
extension/node_modules
extension/pacjage-lock.json
.idea/
.vscode
extension/config.json
extension/.nyc_output
.nyc_output
extension/config.json
extension/schema.json
.integration-credentials.js
